* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
}

nav {
  position: relative;
}

.nav-option > h3 {
  position: relative;
}
.nav-option > h3::after {
  content: attr(text);
  position: absolute;
  left: -25%;
  top: 9%;
  font-size: 0.5vw;
}

.hero-text {
  position: relative;
}
